name: Fly Deploy

on:
  push:
    branches:
      - main # change to main if needed

jobs:
  deploy:
    name: Deploy app  # 这里需要正确缩进
    runs-on: ubuntu-latest
    concurrency: deploy-group # optional: ensure only one action runs at a time

    steps:
      - uses: actions/checkout@v3

      - uses: superfly/flyctl-actions/setup-flyctl@master

      - run: flyctl deploy --remote-only -a chatbot24466700
        env:
          FLY_API_TOKEN: ${{ secrets.FLY_API_TOKEN }}
